{% extends "network/layout.html" %}


{% block body %}
    <section>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-light new-post">Post</button>
        </form>
    </section>
   
 

    <section class="post-section">   
        {% for post in posts %}
            <div class="post-group">
                <div class="left-post"> 
                    <p>{{post.user_name}} </p>

                </div>
                <div class="right-post">
                    <p class="post-post"> {{post.post}} {{post.timestamp}}</p>
                    <p class="time-post"> {{post.timestamp}}</p>
                    <p> <span class="liked" {% if post.user_liked %} hidden {% endif %}> heart </span> {{post.like_count}} </p>
                </div>
            </div>
        {% endfor %}
    </section>

    {% if prev_page == True %}
        <button class="load-posts" data-page-direction="Previous">Previous</button> 
    {% endif %}

    {% if next_page == True %}
        <button class="load-posts" data-page-direction="Next">Next</button>
    {% endif %}

   
    
{% endblock %}
