.error, .warning, .success {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  animation: message-flash;
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
}

.success {
  background-color: rgba(0, 128, 0, 0.216);
}

.warning {
  background-color: rgba(255, 166, 0, 0.216);
}

.error {
  background-color: rgba(255, 0, 0, 0.2169);
}

.navbar {
  justify-content: space-between;
}

body {
  background-color: #e9e5ec;
  color: #3c3441;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

#logo {
  width: 14rem;
}

a {
  color: #6d8a7b;
}

h4, #following-no, #followers-no {
  font-weight: 400;
  font-style: bold;
}

button {
  color: #3c3441;
  background-color: #F0F2F2;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  width: 6.5rem;
}

button:disabled {
  background-color: #e7e9e8;
  border: none;
}

button:not([disabled]):hover {
  background-color: #e9e5ec;
}

button:not([disabled]):active {
  border: 0;
}

.title {
  text-align: center;
  margin: 2rem auto 2rem auto;
}

form {
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
}
form .new-post {
  margin-top: 0.2rem;
}

p {
  display: inline;
}

.loaded-new-post {
  animation: grow 1s;
}

.remove-posts-left {
  animation: hide-posts-left 1s;
}

.remove-posts-right {
  animation: hide-posts-right 1s;
}

.loaded-next-posts {
  animation: load-posts-right 1s;
}

.loaded-prev-posts {
  animation: load-posts-left 1s;
}

.post-group {
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 1%;
  box-shadow: 5px 5px 10px rgb(182, 182, 182);
  height: auto;
  background-color: rgba(191, 184, 199, 0.8235294118);
  overflow: hidden;
}
.post-group .left-post {
  width: 30%;
  min-width: 5rem;
  overflow-x: hidden;
  text-align: right;
  padding-right: 3rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
}
.post-group .left-post .time-post {
  display: block;
  font-size: 0.5rem;
}
.post-group .right-post {
  width: 70%;
}
.post-group .right-post p {
  font-size: 0.9rem;
  display: block;
}
.post-group .right-post p .likes {
  font-size: 0.5rem;
}
.post-group .right-post .post-post {
  padding-top: 0.5rem;
}
.post-group .right-post .edited {
  font-size: 0.6rem;
  color: #636363;
}
.post-group .right-post .likes {
  font-size: 0.8rem;
}
.post-group .right-post .no-log-likes {
  color: rgb(134, 129, 129);
}
.post-group .right-post .user-liked i {
  color: rgb(204, 119, 119);
}
.post-group .right-post .user-liked i:hover {
  animation: dislike 0.5s;
}
.post-group .right-post .user-disliked i {
  color: rgb(134, 129, 129);
}
.post-group .right-post .user-disliked i:hover {
  animation: like 0.5s;
}

.buttons {
  text-align: center;
}
.buttons .load-posts {
  margin: 2rem 0.25rem 2rem 0.25rem;
}

.profile-info {
  display: flex;
  width: 40vw;
  margin: auto;
  margin-top: 2rem;
}
.profile-info #profile-name {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-info #profile-name #follow-button {
  margin-top: 0.5rem;
}
.profile-info #follows-div {
  width: 20vw;
  margin-left: 1rem;
}
.profile-info #follows-div p {
  display: block;
}

.edit-box {
  margin: auto;
  margin-left: 9%;
  position: fixed;
  width: 80vw;
  height: 12rem;
  top: 50%;
  filter: none;
  border: 2px solid rgb(221, 218, 218);
  border-radius: 1%;
  box-shadow: 1px 1px 3px rgb(233, 226, 226);
}
.edit-box form {
  margin-top: 0.5rem;
  text-align: center;
}
.edit-box form input {
  margin: 0.5rem 0.5rem 0.5rem auto;
}
.edit-box .fa-times {
  position: absolute;
  top: 0;
  right: 0;
}
.edit-box .fa-times:hover {
  color: rgb(155, 146, 146);
  cursor: pointer;
}

.blur-section {
  filter: blur(5px);
}

.hide-post {
  animation: remove-post;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.sign-in-form {
  width: 50vw;
}

.signin-block {
  width: 60vw;
  margin: auto;
}

#login-p {
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  display: block;
}

.message {
  text-align: center;
}

.btn {
  background-color: #F0F2F2;
}

@keyframes remove-post {
  0% {
    opacity: 1;
    height: 5.5rem;
  }
  80% {
    opacity: 0;
    height: 5.5rem;
  }
  100% {
    height: 0rem;
    opacity: 0;
    overflow: hidden;
  }
}
@keyframes like {
  from {
    color: rgb(189, 189, 189);
  }
  to {
    color: red;
  }
}
@keyframes dislike {
  from {
    color: red;
  }
  to {
    color: rgb(189, 189, 189);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    height: 5.5rem;
    transform: translateY(0);
  }
}
@keyframes hide-posts-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes hide-posts-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes load-posts-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes load-posts-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes message-flash {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 400px) {
  #logo {
    width: 8rem;
  }
  .left-post {
    width: 50% !important;
  }
  .left-post a {
    font-size: 0.7rem;
  }
  .left-post .time-post {
    font-size: 0.4rem !important;
  }
  .right-post .post-post {
    font-size: 0.7rem !important;
  }
  #follows-div, #profile-name {
    width: 40vw !important;
  }
  #following-no, #followers-no {
    font-size: 0.8rem !important;
  }
  button {
    width: 8rem !important;
  }
  .btn-log {
    margin: auto !important;
    text-align: center !important;
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */